allow system_app {
    sysfs_zram
    sysfs_kgsl
}:dir search;

allow system_app {
    sysfs_zram
    sysfs_kgsl
}:file{
    getattr
    open
    read
};

get_prop(system_app, persist_camera_prop);
get_prop(system_app, vendor_camera_prop);
