allow system_app {
    sysfs_zram
    sysfs_kgsl
}:dir search;

allow system_app {
    sysfs_zram
    sysfs_kgsl
}:file{
    getattr
    open
    read
};
