# Allow vendor_init to set vendor_camera_prop
set_prop(vendor_init, vendor_camera_prop)

set_prop(vendor_init, power_prop)

allow vendor_init persist_file:lnk_file read;
allow vendor_init debugfs_sched_features:file write;
