type xiaomi_settings, domain;

app_domain(xiaomi_settings)

get_prop(xiaomi_settings, vendor_default_prop)

get_prop(xiaomi_settings, persist_camera_prop)

# Access standard system services
allow xiaomi_settings {
    app_api_service
    audioserver_service
    cameraserver_service
    drmserver_service
    mediaextractor_service
    mediaserver_service
    mediametrics_service
    nfc_service
    surfaceflinger_service
}:service_manager find;

# Allow settings read and write /data/data subdirectory
allow xiaomi_settings system_app_data_file:dir create_dir_perms;
allow xiaomi_settings system_app_data_file:{ file lnk_file } create_file_perms;

# Allow xiaomi_settings to find hidl_token_hwservice
allow xiaomi_settings hidl_token_hwservice:hwservice_manager find;

# Allow xiaomi_settings to find hal_displayfeature_xiaomi_hwservice
allow xiaomi_settings hal_displayfeature_xiaomi_hwservice:hwservice_manager find;

# Allow xiaomi_settings to find hal_motor_hwservice:hwservice_manager
allow xiaomi_settings hal_motor_hwservice:hwservice_manager find;

# Allow binder communication with hal_displayfeature_xiaomi_default
binder_call(xiaomi_settings, hal_displayfeature_xiaomi_default)

# Allow binder communication with hal_motor_default
binder_call(xiaomi_settings, hal_motor_default)

# Allow binder communication with gpuservice
binder_call(xiaomi_settings, gpuservice)

# Allow xiaomi_settings read and write sysfs
allow xiaomi_settings {
    sysfs_graphics
    sysfs_leds
    sysfs_kgsl
    sysfs_thermal
}:dir search;

allow xiaomi_settings {
    cgroup
    sysfs_graphics
    sysfs_leds
    sysfs_kgsl
    sysfs_thermal
}:{
  file
  lnk_file
} rw_file_perms;
