# setup permissions for powerHAL
on init
    chown system system /dev/stune/top-app/schedtune.boost
    chown system system /dev/stune/top-app/schedtune.prefer_high_cap
    chown system system /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chown system system /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chown system system /sys/class/kgsl/kgsl-3d0/force_clk_on
    chown system system /sys/class/kgsl/kgsl-3d0/force_rail_on
    chown system system /sys/class/kgsl/kgsl-3d0/idle_timer
    chown system system /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/bw_hwmon/hist_memory
    chown system system /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/bw_hwmon/hyst_length
    chown system system /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/bw_hwmon/hyst_trigger_count
    chown system system /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/min_freq
    chown system system /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/min_freq
    chown system system /sys/class/devfreq/soc:qcom,cpu0-cpu-l3-lat/min_freq
    chown system system /sys/class/devfreq/soc:qcom,cpu6-cpu-l3-lat/min_freq

    chmod 0664 /dev/stune/top-app/schedtune.boost
    chmod 0664 /dev/stune/top-app/schedtune.prefer_high_cap
    chmod 0664 /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chmod 0664 /sys/class/kgsl/kgsl-3d0/min_pwrlevel
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_clk_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/force_rail_on
    chmod 0664 /sys/class/kgsl/kgsl-3d0/idle_timer
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/bw_hwmon/hist_memory
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/bw_hwmon/hyst_length
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/bw_hwmon/hyst_trigger_count
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu-cpu-llcc-bw/min_freq
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/min_freq
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu0-cpu-l3-lat/min_freq
    chmod 0664 /sys/class/devfreq/soc:qcom,cpu6-cpu-l3-lat/min_freq

service vendor.power-hal-aidl /vendor/bin/hw/android.hardware.power-service.davinci-libperfmgr
    class hal
    user root
    group system input
    priority -20

on late-fs
     start vendor.power-hal-aidl

# restart powerHAL when framework died
on property:init.svc.zygote=restarting && property:vendor.powerhal.state=*
    setprop vendor.powerhal.state ""
    setprop vendor.powerhal.rendering ""
    restart vendor.power-hal-aidl

# initialize powerHAL when boot is completed
on property:sys.boot_completed=1
    setprop vendor.powerhal.init 1
